h2{
	text-align:center;
	color:#060;
}

img{
	width:100%;
}

.thumbnail{
	padding:5px;
	height:150px;
}

#gallery img{
	height:100%;
}

.ui-grid-c {
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 0px;
}

.ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d {
    border: 1px solid gray;
    padding-bottom: 0px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    background-color: black;
}

.full_width {
    width: 50% !important;
}

.inst_mod {
    background-color: #252525;
    border: none;
}

/*@media screen and (orientation: landscape) {
    .ui-grid-c {
        //background-color: black;
        padding-left: 1px;
        padding-right: 1px;
        padding-top: 0px;
    }
}*/

// Padding for ipads and tablets.
/*@media only screen and (min-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    .ui-grid-c {
        padding-left: 60px;
        padding-right: 60px;
    }
}*/

/*.small_phone {
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
}

.tablet_device {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 0px;
}*/

// Padding for 320x480 devices.
/*@media screen and (min-width: 320px) {
    .my-breakpoint.ui-grid-c {
        padding-left: 30px;
        padding-right: 30px; 
    }
}*/

