h2{
	text-align:center;
}

h4 {
    color: #252525;
}

li {
    margin: 10px 0;
}

img{
	width:100%;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
}

.thumbnail{
	padding:5px;
	height:150px;
}

#gallery img{
	height:100%;
}

.ui-bar {
    padding: 5px;
}

.ui-grid-a {
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 0px;
}

.ui-grid-c {
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 0px;
}

.ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d {
    border: 1px solid gray;
    padding-bottom: 0px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    background-color: black;
}

.full_width {
    width: 50% !important;
}

.inst_mod {
    background-color: #252525;
    border: none;
}

